<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../static/img/background.jpg" type="image/jpg">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
    <title>Новые Люди</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="/">Новые Люди</a>
            <p class="nav-quote">Не теряй время, закажи заправку!</p>
            <div class="navbar-nav right-block">
                <li>
                    {% if current_user.is_authenticated %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ current_user.name}} {{ current_user.surname}}
                        </a>
                    </div>
                    {% else %}
                    <div id="Log">
                        <a class="btn btn-outline-secondary my-2 my-sm-0" href="/register">Sign Up</a>
                        <a class="btn btn-outline-secondary my-2 my-sm-0" href="/login">Log In</a>
                    </div>
                    {% endif %}
                </li>
            </div>
        </nav>
    </header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>