{% extends "main\base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="../../static/css/register.css">
    <p class="register-title-quote">Регистрация</p>
    <div class="register-div">
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button type="submit" class="btn register-btn">Подтвердить регистрацию</button>
        </form>
        <div class="error-div">
            <p class="form_errors">{{ form.errors }}</p>
        </div>
    </div>
{% endblock %}